<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/m/Downloads/10 Min De Música instrumental Para Orar.mp3</key>
	<data>
	Ym9va9gCAAAAAAQQMAAAAFlXIlNlsFEGfYm/4bpadeA/OTpO0Pp6EpymeUBe3gxr1AEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAABAAAAAQEAAG0AAAAJAAAAAQEAAERv
	d25sb2FkcwAAAC0AAAABAQAAMTAgTWluIERlIE11zIFzaWNhIGluc3RydW1lbnRhbCBQ
	YXJhIE9yYXIubXAzAAAAEAAAAAEGAAAQAAAAIAAAACwAAABAAAAACAAAAAQDAABHUwAA
	AwAAAAgAAAAEAwAAGG4AAAMAAAAIAAAABAMAAEtuAAADAAAACAAAAAQDAABNDgoAAwAA
	ABAAAAABBgAAkAAAAKAAAACwAAAAwAAAAAgAAAAABAAAQcON/HT8mXwYAAAAAQIAAAEA
	AAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAAAgAAAAAAAAAEAAAAAwMAAPUBAAAI
	AAAAAQkAAGZpbGU6Ly8vBQAAAAEBAABNYWNPUwAAAAgAAAAEAwAAAMAW3hsAAAAIAAAA
	AAQAAEHCkDfiQJ7AJAAAAAEBAAA3NzkxQkM5MC1CQTI5LTMxNjItQTI4Qy02REFGQjIy
	M0FBNkUYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAA
	AAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAeAAAAAAAAAAFEAAA0AAAAAAAAAAQ
	EAAA+AAAAAAAAABAEAAA6AAAAAAAAAACIAAAwAEAAAAAAAAFIAAANAEAAAAAAAAQIAAA
	RAEAAAAAAAARIAAAdAEAAAAAAAASIAAAVAEAAAAAAAATIAAAZAEAAAAAAAAgIAAAoAEA
	AAAAAAAwIAAAzAEAAAAAAAABwAAAGAEAAAAAAAARwAAAIAAAAAAAAAASwAAAKAEAAAAA
	AAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Volumes/Sublimados/Lifes/Biblia/Apocalisis/La venida de Cristo está cerca..m4a</key>
	<data>
	Ym9va/QDAAAAAAQQMAAAAMNRuN74L/71sGI+5LLyH71wF3NYO1RueUuw2PqbuDgFFAMA
	AAQAAAADAwAAAAgAKAcAAAABAQAAVm9sdW1lcwAKAAAAAQEAAFN1YmxpbWFkb3MAAAUA
	AAABAQAATGlmZXMAAAAGAAAAAQEAAEJpYmxpYQAACgAAAAEBAABBcG9jYWxpc2lzAAAl
	AAAAAQEAAExhIHZlbmlkYSBkZSBDcmlzdG8gZXN0YcyBIGNlcmNhLi5tNGEAAAAYAAAA
	AQYAABAAAAAgAAAANAAAAEQAAABUAAAAaAAAAAgAAAAEAwAAElwAAAMAAAAAAAAAAQoA
	ABgAAAABBgAAuAAAAMgAAADIAAAAyAAAAMgAAADIAAAACAAAAAAEAABBw435hAAAABgA
	AAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAAGwAAAAEJAABmaWxlOi8vL1ZvbHVt
	ZXMvU3VibGltYWRvcy8ACAAAAAQDAAAAAD5jdAAAAAgAAAAABAAAwc0n5EAAAAAkAAAA
	AQEAADM3RUZFRDFELURDMzQtMzgxNC05MUFFLTdDMTg0RjExRUVDMRgAAAABAgAAgQAA
	AAAAAADvEwAAAQAAAAAAAAAAAAAAEwAAAAEBAAAvVm9sdW1lcy9TdWJsaW1hZG9zAAgA
	AAABCQAAZmlsZTovLy8FAAAAAQEAAE1hY09TAAAACAAAAAQDAAAAwBbeGwAAAAgAAAAA
	BAAAQcKQN+JAnsAkAAAAAQEAADc3OTFCQzkwLUJBMjktMzE2Mi1BMjhDLTZEQUZCMjIz
	QUE2RRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAYAAA
	AP7///8A8AAAAAAAAAcAAAACIAAAWAIAAAAAAAAFIAAAzAEAAAAAAAAQIAAA3AEAAAAA
	AAARIAAADAIAAAAAAAASIAAA7AEAAAAAAAATIAAA/AEAAAAAAAAgIAAAOAIAAAAAAAAE
	AAAAAwMAAADwAAAEAAAAAwMAAAAAAAAEAAAAAwMAAAEAAAAcAAAAAQYAAMwCAADYAgAA
	5AIAANgCAADYAgAA2AIAANgCAACoAAAA/v///wEAAABkAgAADQAAAAQQAACYAAAAAAAA
	AAUQAADQAAAAAAAAABAQAAAAAQAAAAAAAEAQAADwAAAAAAAAAAAgAADwAgAAAAAAAAIg
	AACwAQAAAAAAAAUgAAAgAQAAAAAAABAgAAAgAAAAAAAAABEgAABkAQAAAAAAABIgAABE
	AQAAAAAAABMgAABUAQAAAAAAACAgAACQAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
</dict>
</plist>
